
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color=always"
fi

alias ls='ls ${colorflag}'
alias ll='ls -lhF'
alias l.='ll -d .*'
alias la='ll -A'
alias ldirs='la | grep -E "^d"'
alias lfiles='la | grep -Ev "^d"'

alias less='less -R'
alias sudo='sudo -E '

alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

alias grep='grep --color=auto'

