export EDITOR="vim"

export GREP_OPTIONS="--color=auto"

export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
export HISTIGNORE="ls:ll:l.:la:lsd:pwd:exit:clear:history:* --help"
